
            <div class="login" >
  
              <div class="login-container">
                  <h2 class="login-heading">Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <br>

            
              <!-- Username input -->
               <div class="form-group">
                <label class="form-label" for="username">Username:</label>
                <input type="text" id="username" class="form-control"
                  placeholder="Enter your username" formControlName="username" />
              </div> 
    
              <!-- Password input -->
               <div class="form-group">
                <label class="form-label" for="password">Password</label>
                <div class="input-group">
                  <input type="{{ showuserPassword ? 'text' : 'password' }}" id="password" class="form-control" placeholder="Enter your password" formControlName="userPassword" />
                  <i class="fa fa-eye" [ngClass]="{ 'fa-eye-slash': !showuserPassword }" (click)="togglePasswordVisibility()"></i>
                  </div>
              </div> 
              
              
              
              <div class="forgot-password-link">
              <button type="submit" class="btn btn-primary">Login</button>
              <div class="signup-link">
                <a routerLink="/signup">Don't have an account? Sign up here</a>
              </div>
              </div>
            </form>
          </div>
        </div>
      
    
