 <div class="signup">
         <div class="signup-container">
                          <div class="signup-form">
                            <h2 class="signup-heading">SignUp</h2>
    
                    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

    
                        <div class="form-group">
                          <label for="name">Full Name:<span class="required">*</span></label>
                          <input type="text" id="name" class="form-control"  placeholder="Enter your Fullname" formControlName="name" required/>
                      
                        <div *ngIf="f['name'].touched && f['name'].invalid" class="text-danger">
                          <div class="valid" *ngIf="f['name'].errors?.['required']">Name is required.</div>
                      </div>
                        </div>

                        <div class="form-group">
                          <label class="form-label" for="username">Username:<span class="required">*</span></label>
                          <input type="text" id="username" class="form-control"  placeholder="Enter your username" formControlName="username" />
                        
                        <div *ngIf="f['username'].touched && f['username'].invalid" class="text-danger">
                          <div class="valid" *ngIf="f['username'].errors?.['required']">Username is required.</div>
                      </div>
                      </div>
                      
    
                     
                      <div class="form-group">
                        <label  for="email">Your Email:<span class="required">*</span></label>
                        <input type="email" id="email" class="form-control" placeholder="Enter your email (e.g: abcd@gmail.com)"  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="email" required/>
                      
                      <div *ngIf="f['email'].touched && f['email'].invalid" class="text-danger">
                        <div *ngIf="f['email'].errors?.['required']">Email is required.</div>
                        <div class="valid" *ngIf="f['email'].errors?.['pattern']"> Invalid email format.</div>
                    </div>
                    </div>
                      
    
                      
    
                      
                        <div class="form-group">
                          <div class="input-group">
                          <label class="form-label" for="userPassword">Password:<span class="required">*</span></label>
                          <div class="input-group">
                          <input type="{{ showuserPassword ? 'text' : 'password' }}" id="password" class="form-control" placeholder="Enter your password" formControlName="userPassword" />
                          <i class="fa fa-eye" [ngClass]="{ 'fa-eye-slash': !showuserPassword }" (click)="togglePasswordVisibility()"></i>
                          </div> 
                          </div>
                        
                       
                        <div *ngIf="signupForm.get('userPassword')?.invalid && signupForm.get('userPassword')?.touched" class="text-danger">
              <div class="valid" *ngIf="signupForm.get('userPassword')?.errors?.['required']">Password is required.</div>
              <div class="valid" *ngIf="signupForm.get('userPassword')?.errors?.['pattern']">
                        Invalid password format.<br> Password must contain at least 8 characters including
                         one lowercase letter, one uppercase letter, one digit, and one special character.
                      </div>
                    </div>
                    </div>
                    
    
                        <!-- <div class="form-group">
                          <label class="form-label" for="conpassword">Confirm Password:<span class="required">*</span></label>
                           <div class="input-group">
                            <input type="{{ showPassword ? 'text' : 'password' }}" id="conpassword" class="form-control" placeholder="Re-nter your password" formControlName="conpassword" />
                            <i class="fa fa-eye" [ngClass]="{ 'fa-eye-slash': !showPassword }" (click)="togglePasswordVisibility()"></i>
                            </div> -->
                          
                        
                        <!--<div *ngIf="f['conpassword'].touched && f['conpassword'].invalid" class="text-danger">
                          <div class="valid" *ngIf="f['conpassword'].errors?.['required']">Confirm your password</div>
                          <div *ngIf="f['conpassword'].touched && f['conpassword'].hasError('passwordMatch')" class="text-danger">
                            Passwords do not match.
                          </div>
                        </div>
                      </div>  -->
                  
    
                     
                      
    
                    
    
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary"  [disabled]="!signupForm.valid">SignUp</button>
                      </div>
    
                    </form>
    
                    <div class="login-link">
                      <a routerLink="/login">Already have an account? Login here</a>
                    </div>
          </div>
        </div>
      
  
