<div>
<nav>
  <a href="home">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#aboutus">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#contact">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp; 
  <a href="/login">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/signup">Sign Up</a>
  
</nav>
</div>



<div class="home">
    <h1>Track My Day </h1>  
</div>

  
  <div class="about-container">
  <div class="about-details" id="aboutus">
    <h2>About Us</h2>
    <p>With the best planner app, you can keep tabs
       on your ideas, due dates, meetings… pretty much anything under the sun or fondant. </p>
  </div>
  <div class="image">
<img src="assets/images/about.jpg" alt="">
  </div>
  </div>
  

  <div class="contact-container">
    
    <div>
         <img src="assets/images/contact.jpg" alt="" height="250px" width="250px"> 
          </div>
    
      
        <div class="contact-details" id="contact">
      <h2>Contact Us</h2>
      <p>Name</p>
      <p>Address</p>
      <p>Phone Number</p>
    </div>
  </div>

   





  

  
  

